---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
// Icons
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
// Content
const { integration, description, url, logo } = {
  url: "/integrations/" + Astro.props.post.slug,
  integration: Astro.props.post.data.integration,
  description: Astro.props.post.data.description,
  logo: Astro.props.post.data.logo.url,
};
---

<div class="relative flex flex-col p-4 bg-base-900 group bg-stripes">
  <a
    class="absolute inset-0 z-10"
    href={url}
    title={`View details for ${integration}`}
    aria-label={`View details for ${integration}`}></a>

  <div>
    <Image
      src={logo}
      alt={integration}
      width={300}
      height={300}
      class="size-8 "
    />
    <Text tag="h3" variant="textSM" class="font-medium text-white mt-8">
      {integration}
    </Text>
    <Text tag="p" variant="textXS" class="mt-2 text-base-500">
      {description}
    </Text>
    <Button
      iconOnly
      size="xs"
      variant="muted"
      href={url}
      default
      isLink={true}
      class="mt-24"
    >
      <ChevronRight slot="icon" size="sm" />
    </Button>
  </div>
</div>
