---
const { title, url, description, pubDate, author, image } = Astro.props;
---

<a href={url} title={title}>
  <div
    class="flex flex-col h-full overflow-hidden shadow-large border-2 divide-y-2 divide-black border-black hover:shadow-none duration-200">
    <div class="flex-shrink-0">
      <img class="w-full h-64 object-cover" src={image} alt={title} />
    </div>
    <div class="flex flex-1 flex-col justify-between p-6 bg-white">
      <div class="flex-1">
        <div
          class="flex space-x-1 text-sm text-black">
          <time datetime={pubDate}>{pubDate}</time>
          <span aria-hidden="true">&middot;</span>
          <span>By {author}</span>
        </div>
        <div class="mt-2 block">
          <p class="text-xl lg:text-3xl text-black">
            {title}
          </p>
          <p class="mt-3 text-xl text-black">
            {description}
          </p>
        </div>
      </div>
    </div>
  </div>
</a>
