---
// Assets
import Cross from "@/components/assets/Cross.astro";
import StripesBG from "@/components/assets/StripesBG.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import IntegrationsEntries1 from "@/components/integrations/IntegrationsEntries1.astro";
// Content
import { getCollection } from "astro:content";
const allIntegrations = (await getCollection("integrations")).sort((a, b) =>
  a.data.integration.localeCompare(b.data.integration)
);
const allTags = Array.from(
  new Set(allIntegrations.flatMap((post) => post.data.tags))
).sort();
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-32 pb-12 relative overflow-hidden">
      <!-- Top Right Plus -->
      <Cross class="-top-[0.6rem] -right-[0.65rem] z-51" />
      <!-- Top left Plus -->
      <Cross class="-top-[0.6rem] -left-[0.65rem] z-51" />
      <StripesBG
        variant="light"
        class="absolute inset-0 h-full -mx-px w-[15%] ml-auto"
      />
      <StripesBG
        variant="accent"
        class="absolute inset-0 h-full -mx-px w-[25%] ml-auto"
      />
      <StripesBG
        variant="base"
        class="absolute inset-0 h-full -mx-px w-[50%] ml-auto"
      />
      <div class="text-balance max-w-xl relative">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-white"
        >
          Plays nice with the tools you already use
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500">
          No complicated rituals, just drop in your stack and go. We integrate
          so smoothly, you'll forget email ever sucked.
        </Text>
      </div>
    </Wrapper>
    <div class="grid grid-cols-1 lg:grid-cols-3 border-t border-base-800">
      <nav role="navigation" aria-label="Integrations categories" class="p-8">
        <ul class="flex flex-col gap-2">
          {
            allTags.map((tag) => (
              <li>
                <a
                  href={`#tag-${tag}`}
                  aria-label={`Jump to ${tag} integrations`}
                  class="text-white hover:text-accent-300 capitalize"
                >
                  {tag}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <div
        class="flex flex-col divide-y divide-base-800 lg:col-span-2 lg:border-l border-t lg:border-t-0 border-base-800 overflow-hidden"
      >
        {
          allTags.map((tag) => (
            <section id={`tag-${tag}`} class="py-12 px-8 relative">
              <StripesBG
                variant="base"
                class=" absolute inset-0 h-[50%] -mx-px  mt-auto border-t border-base-800"
              />
              <Text
                tag="h2"
                variant="textBase"
                class="capitalize realative text-white"
              >
                {tag}
              </Text>
              <div class="mt-4 grid grid-cols-1 gap-px md:grid-cols-2 relative">
                {allIntegrations
                  .filter((post) => post.data.tags.includes(tag))
                  .map((post) => (
                    <IntegrationsEntries1 post={post} />
                  ))}
              </div>
            </section>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
