---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import IntegrationsEntries from "@/components/integrations/IntegrationsEntries.astro";
// Icons
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
// Content
import { getCollection } from "astro:content";
const allIntegrations = (await getCollection("integrations")).sort((a, b) =>
  a.data.integration.localeCompare(b.data.integration)
);
const allTags = Array.from(
  new Set(allIntegrations.flatMap((post) => post.data.tags))
).sort();
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-32 pb-4 bg-pink">
      <div class="grid grid-cols-1 lg:grid-cols-3">
        <div class="lg:sticky lg:top-32 lg:self-start">
          <Text
            tag="h1"
            variant="displayMD"
            class="font-medium tracking-tight text-black text-balance"
          >
            Plays nice with the tools you already use
          </Text>
          <Text tag="p" variant="textBase" class="mt-4 text-black">
            No complicated rituals, just drop in your stack and go. We integrate
            so smoothly, you'll forget email ever sucked.
          </Text>
          <nav>
            <ul class="flex flex-col gap-2 mt-8">
              {
                allTags.map((tag) => (
                  <li>
                    <Button
                      isLink={true}
                      size="xs"
                      variant="default"
                      href={`#tag-${tag}`}
                      aria-label={`Jump to ${tag} integrations`}
                      class="capitalize w-fit"
                    >
                      {tag}
                    </Button>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>

        <div class="flex flex-col  gap-24 lg:col-span-2">
          {
            allTags.map((tag) => (
              <section id={`tag-${tag}`}>
                <Text tag="h2" variant="displaySM" class=" capitalize text-black font-medium">
                  {tag}
                </Text>

                <div class="mt-4 grid grid-cols-1 gap-x-8 gap-y-14 md:grid-cols-2 ">
                  {allIntegrations
                    .filter((post) => post.data.tags.includes(tag))
                    .map((post) => (
                      <IntegrationsEntries post={post} />
                    ))}
                </div>
              </section>
            ))
          }
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
