---
import { store } from "../../data/store.json";
---

<section class="bg-white" aria-labelledby="blog" id="blog">
  <div
    class="relative items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20 2xl:px-0">
    <div class="max-w-xl mx-auto text-center">
      <h2 class="text-3xl lg:text-5xl font-display text-black">
        Welcome to Flabbergasted's Store
      </h2>
      <p class="xl:text-xl tracking-tight text-black mt-3">
        Look around and see if you like something that you like.
      </p>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 lg:gap-12 mt-16 [">
      {
        store.map((template) => (
          <>
            <a href={template.url}>
              <div class="group relative border-2 border-black shadow-large h-full">
                <div>
                  <img
                    src={template.image}
                    alt="{template.name}"
                    class="aspect-[384/246]  object-cover bg-center h-full border-2  border-black"
                  />
                </div>
                <div class="p-6">
                  <div class=" flex items-center justify-between space-x-8 text-lg font-semibold leading-6 text-neutral-900 dark:text-white group-hover:text-accent-400 ">
                    <h3 class="text-xl lg:text-3xl text-black">
                      {template.name}
                    </h3>
                    <p>${template.price}</p>
                  </div>
                  <p class="mt-3 text-xl text-black">{template.type}</p>
                </div>
              </div>
            </a>
          </>
        ))
      }
    </div>
  </div>
</section>
