---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/foundations/elements/Text.astro";
const { url, name, image, role } = {
  url: "/team/" + Astro.props.post.slug,
  name: Astro.props.post.data.name,
  role: Astro.props.post.data.role,
  image: Astro.props.post.data.image.url,
};
---

<div class="relative overflow-hidden bg-white shadow duration-300 shadow-black outline-2 outline-black rounded-xl hover:shadow-none hover:translate-y-1">
  <a
    href={url}
    title={`View profile for ${name}`}
    aria-label={`View profile for ${name}`}
    class="absolute inset-0 z-10"></a>

  <Image
    src={image}
    alt={name}
    width={600}
    height={600}
    loading="eager"
    decoding="async"
    class="object-cover w-full aspect-12/8"
  />

  <div class="flex flex-col p-4 border-t-2 border-black">
    <Text tag="h3" variant="textBase" class="font-medium text-base-900">
      {name}
    </Text>
    <Text tag="p" variant="textXS" class="text-base-500">
      {role}
    </Text>
  </div>
</div>
