---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
// Icons
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
// Content
const { customer, avatar, url, ctaTitle, testimonial, bgColor } = {
  url: "/customers/" + Astro.props.post.slug,
  avatar: Astro.props.post.data.avatar.url,
  customer: Astro.props.post.data.customer,
  ctaTitle: Astro.props.post.data.ctaTitle,
  testimonial: Astro.props.post.data.testimonial,
  bgColor: Astro.props.post.data.bgColor,
};
---

<div class="relative overflow-hidden bg-base-900 group">
 
  <div class="grid grid-cols-1  lg:grid-cols-3 lg:items-center">
    <div class="pt-24 p-8 text-balance flex flex-col h-full justify-between lg:col-span-2">
      <div>
        <Text
          class="span"
          variant="textXS"
          class="font-medium text-base-400 gap-2"
        >
          {customer}
        </Text>
        <Text
          tag="p"
          variant="textXL"
          class="mt-8 font-medium tracking-tight text-white text-balance"
        >
          "{testimonial}"
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base text-base-500">
          {ctaTitle}
        </Text>
      </div>
       <div class="flex items-center justify-between gap-2">
        <Text class="font-medium text-white" tag="p" variant="textSM">
          Read {customer}'s case study
        </Text>
        <Button
          iconOnly
          size="xs"
          variant="muted"
          href={url}
          default
          isLink={true}
          title={customer}
          aria-label={customer}
        >
          <ChevronRight slot="icon" size="sm" />
        </Button>
      </div>
    </div>

    <div class="relative">
      <Image
        width="1000"
        height="1000"
        alt={customer}
        src={avatar}
        class="object-cover object-center aspect-8/10"
      />
     
      <div
        class={`absolute inset-0 z-10 flex items-center justify-center pointer-events-none   mix-blend-hard-light ${bgColor}`}
      >
      </div>
    </div>
  </div>
</div>
