---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
// Icons
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";

// Content
const { customer, avatar, url, testimonial, bgColor } = {
  url: "/customers/" + Astro.props.post.slug,
  avatar: Astro.props.post.data.avatar.url,
  customer: Astro.props.post.data.customer,
  bgColor: Astro.props.post.data.bgColor,
  testimonial: Astro.props.post.data.testimonial,
};
---

<style>
  .keen-slider__slide {
    overflow: visible;
  }
</style>
<article
  class="relative flex flex-col w-full h-full isolate keen-slider__slide group"
>
  <div class="relative">
    <Image
      width="1000"
      height="1000"
      alt={customer}
      src={avatar}
      class="object-cover object-center aspect-8/10"
    />
    <span class="absolute text-xl font-medium text-white top-4 left-4">
      {customer}
    </span>
    <div
      class={`absolute inset-0 z-10 flex items-center justify-center pointer-events-none   mix-blend-hard-light ${bgColor}`}
    >
    </div>

    <div
      class="absolute inset-0 z-20 flex flex-col justify-between p-8 mt-auto text-white pointer-events-auto backdrop-blur-3xl h-1/2 to-transparent"
    >
      <div>
        <Text
          tag="p"
          variant="textXL"
          class="mt-2 italic font-medium text-base-900 mix-blend-difference"
        >
          "{testimonial}"
        </Text>
      </div>
      <div class="flex items-center justify-between gap-2">
        <Text class="font-medium text-base-900" tag="p" variant="textSM">
          Read {customer}'s case study
        </Text>
        <Button
          iconOnly
          size="xs"
          variant="muted"
          href={url}
          default
          isLink={true}
          title={customer}
          aria-label={customer}
        >
          <ChevronRight slot="icon" size="sm" />
        </Button>
      </div>
    </div>
  </div>
</article>
<script type="module">
  import KeenSlider from "https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/+esm";
  // Autoplay plugin
  const autoplay = (slider) => {
    let timeout;
    let mouseOver = false;
    function clearNextTimeout() {
      clearTimeout(timeout);
    }
    function nextTimeout() {
      clearTimeout(timeout);
      if (mouseOver) return;
      timeout = setTimeout(() => {
        slider.next();
      }, 3000); // Adjust time if needed
    }
    slider.on("created", () => {
      slider.container.addEventListener("mouseover", () => {
        mouseOver = true;
        clearNextTimeout();
      });
      slider.container.addEventListener("mouseout", () => {
        mouseOver = false;
        nextTimeout();
      });
      nextTimeout();
    });
    slider.on("dragStarted", clearNextTimeout);
    slider.on("animationEnded", nextTimeout);
    slider.on("updated", nextTimeout);
  };
  const keenSlider = new KeenSlider(
    "#keen-slider",
    {
      loop: true,
      defaultAnimation: {
        duration: 1500,
      },
      detailsChanged: (s) => {
        s.slides.forEach((element, idx) => {
          element.style.opacity = s.track.details.slides[idx].portion;
        });
      },
      slides: {
        origin: "center",
        perView: 1,
        spacing: 1,
      },
      breakpoints: {
        "(min-width: 1024px)": {
          slides: {
            origin: "auto",
            perView: 2,
            spacing: 1,
          },
        },
      },
    },
    [autoplay] //  Add autoplay plugin here
  );
  const keenSliderPrevious = document.getElementById("keen-slider-previous");
  const keenSliderNext = document.getElementById("keen-slider-next");
  keenSliderPrevious.addEventListener("click", () => keenSlider.prev());
  keenSliderNext.addEventListener("click", () => keenSlider.next());
</script>
