---
// Fundations
import Text from "@/components/foundations/elements/Text.astro";
import Button from "@/components/foundations/elements/Button.astro";
// Content
const { page, description, url, iconId } = {
  url: "/helpcenter/" + Astro.props.post.slug,
  page: Astro.props.post.data.page,
  description: Astro.props.post.data.description,
  iconId: Astro.props.post.data.iconId || "info-circle", // Default icon if not provided
};
---

<article
  class="overflow-hidden bg-white shadow duration-300 shadow-black outline-2 outline-black rounded-xl hover:shadow-none hover:translate-y-1 p-8 h-full"
>
  <div class="relative flex flex-col justify-between h-full gap-8">
    <div>
      <Text
        tag="h3"
        variant="textLG"
        class="font-medium text-base-900 text-balance"
      >
        {page}
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-2 text-black line-clamp-3 lg:text-balance">{description}</Text
      >
    </div>
    <Button
      isLink={true}
      size="sm"
      variant="default"
      href={url}
      title={`Read help article: ${page}`}
      aria-label={`Read help article: ${page}`}
      class="mt-8 w-fit">Read article</Button
    >
  </div>
</article>
