---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Content
const { url, title, description, pubDate, bgColor } = {
  url: "/blog/posts/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  bgColor: Astro.props.post.data.bgColor,
  description: Astro.props.post.data.description,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
---
<article class="relative flex flex-col justify-between h-full overflow-hidden">
  <a
    href={url}
    title={`Read more: ${title}`}
    aria-label={`Read blog post: ${title}`}
    class="absolute inset-0 z-10"></a>
  <div class="flex flex-col h-full p-4 pt-24 bg-base-900">
    <Text tag="p" variant="textXS" class="text-base-500">
      {pubDate}
    </Text>
    <Text tag="h3" variant="textBase" class="text-white mt-8">
      {title}
    </Text>
    <Text tag="p" variant="textSM" class="text-base-400">
      {description}
    </Text>
  </div>
  <div class={`aspect-12/8 p-4 -mx-px ${bgColor} h-full`}></div>
</article>
