---
// Assets
import { Image } from "astro:assets";

// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const { frontmatter } = Astro.props;
// Breadcrumbs Data
const breadcrumbs = [
  { label: "Home", href: "/" },
  { label: frontmatter.page, href: "#" },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-32">
      <div class="flex flex-col justify-between max-w-xl mx-auto text-balance">
        <nav aria-label="Breadcrumb">
          <ol class="flex items-center text-sm gap-x-2 text-base-600">
            {
              breadcrumbs.map((item, index) => (
                <>
                  <li>
                    {index < breadcrumbs.length - 1 ? (
                      <a
                        href={item.href}
                        class="text-xs font-medium hover:text-accent-500 text-base-800"
                      >
                        {item.label}
                      </a>
                    ) : (
                      <span class="text-xs font-medium text-black underline">
                        {item.label}
                      </span>
                    )}
                  </li>
                  {index < breadcrumbs.length - 1 && (
                    <li class="text-black">
                      <ChevronRight size="sm" />
                    </li>
                  )}
                </>
              ))
            }
          </ol>
        </nav>
        <Text
          tag="h1"
          variant="displaySM"
          class="font-medium tracking-tight text-base-900 mt-12"
        >
          {frontmatter.page}
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-black">
          Published on <span>
            <time
              datetime={new Date(frontmatter.pubDate).toLocaleDateString(
                "en-US",
                {
                  year: "numeric",
                  month: "long",
                }
              )}
            >
              {
                new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                })
              }</time
            ></span
          >
        </Text>
        <Image
          width={1000}
          height={800}
          alt={frontmatter.image.alt}
          src={frontmatter.image.url}
          class="object-cover object-center mt-8 size-full max-h-96 lg:col-span-2 rounded-xl"
        />
      </div>
      <Wrapper variant="prose" class="max-w-xl mx-auto mt-12">
        <slot />
      </Wrapper>
    </Wrapper>
  
   
  </section>
</BaseLayout>
