---
// Assets
import StripesBG from "@/components/assets/StripesBG.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="relative pt-32 pb-12 overflow-hidden">
      <StripesBG
        variant="base"
        class="absolute inset-0 h-24 p-20 mt-auto -mx-px border-t border-base-800"
      />
      <div class="max-w-xl mx-auto text-balance relative">
        <Text tag="h1" variant="displayMD" class="text-white">
          {frontmatter.customer}
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500">
          {frontmatter.about}
        </Text>
        <dl class="flex flex-col mt-8 divide-y divide-base-800">
          {
            Object.entries(frontmatter.details).map(([key, value]) => (
              <div class="flex items-center justify-between py-2 gap-2">
                <dt>
                  <Text
                    tag="h4"
                    variant="textSM"
                    class="font-medium text-white"
                  >
                    {key}
                  </Text>
                </dt>
                <dd>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="capitalize text-base-400 lg:text-balance"
                  >
                    {value}
                  </Text>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-3 gap-px items-start mt-8 relative"
      >
        {
          frontmatter.results.map((result) => (
            <div class="gap-2 p-4 pb-24 bg-base-800 h-full border-b border-white">
              <Text tag="p" variant="textBase" class=" text-white">
                {result}
              </Text>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
  <figure class={`p-8 py-48 text-center text-balance  ${frontmatter.bgColor}`}>
    <blockquote>
      <Text
        tag="p"
        variant="displayMD"
        class="max-w-2xl mx-auto font-medium tracking-tight text-base-900"
      >
        "{frontmatter.testimonial}"
      </Text>
    </blockquote>
  </figure>
  <section>
    <dl class="items-center grid grid-cols-1 md:grid-cols-2 gap-px">
      {
        frontmatter.challengesAndSolutions.map((item) => (
          <div class="flex flex-col h-full overflow-hidden">
            <div class="h-full flex flex-col p-4 pt-24 bg-base-900">
              <dt>
                <Text tag="h3" variant="displaySM" class="text-white ">
                  {item.title}
                </Text>
              </dt>
              <dd>
                <Text tag="p" variant="textSM" class=" text-base-400 mt-4">
                  {item.content}
                </Text>
              </dd>
            </div>
            <div class="aspect-12/4 p-4 -mx-px bg-base-vertical-stripes h-full order-first" />
          </div>
        ))
      }
    </dl>
    <Wrapper variant="standard" class="py-8 border-t">
      <div class="max-w-xl mx-auto">
        <Wrapper variant="prose" class="mt-12"><slot /></Wrapper>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
