---
// Assets
import StripesBG from "@/components/assets/StripesBG.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import User from "@/components/fundations/icons/User.astro";
import Shield from "@/components/fundations/icons/Shield.astro";
import Settings from "@/components/fundations/icons/Settings.astro";
import CreditCard from "@/components/fundations/icons/CreditCard.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const { frontmatter } = Astro.props;
const icons = {
  user: User,
  settings: Settings,
  shield: Shield,
  creditCard: CreditCard,
};

// Breadcrumbs Data
const breadcrumbs = [
  { label: "Home", href: "/" },
  { label: "Help Center", href: "/helpcenter/home" },
  { label: frontmatter.page, href: "#" }, // Current page (unstyled)
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="relative pt-48 pb-12 overflow-hidden">
      <StripesBG
        variant="base"
        class="absolute inset-0 h-24 p-20 -mx-px border-b border-base-800"
      />
      <div class="max-w-xl mx-auto text-balance">
        <nav aria-label="Breadcrumb">
          <ol class="flex items-center text-sm gap-x-2 text-base-400">
            {
              breadcrumbs.map((item, index) => (
                <>
                  <li>
                    {index < breadcrumbs.length - 1 ? (
                      <a
                        href={item.href}
                        class="text-xs  hover:text-accent-300"
                      >
                        {item.label}
                      </a>
                    ) : (
                      <span class="text-xs  text-accent-300">{item.label}</span>
                    )}
                  </li>
                  {index < breadcrumbs.length - 1 && (
                    <li class="text-base-400">
                      <ChevronRight size="sm" />
                    </li>
                  )}
                </>
              ))
            }
          </ol>
        </nav>
        <Text tag="h1" variant="displayMD" class="mt-12 text-white">
          {frontmatter.page}
        </Text>
        <Text variant="textBase" class="mt-4 text-base-400">
          {frontmatter.description}
        </Text>
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="py-12">
      <Wrapper variant="prose" class="max-w-xl mx-auto">
        <Text variant="textBase" class="flex items-center text-base-500 gap-2">
          Last updated on
          <time
            datetime={new Date(frontmatter.lastUpdated).toLocaleDateString(
              "en-US",
              {
                year: "numeric",
                month: "long",
              }
            )}
          >
            {
              new Date(frontmatter.lastUpdated).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
              })
            }
          </time>
        </Text>
        <slot />
        <h3>Frequently asked questions</h3>
        <p>Answers to commonly asked questions about our platform</p>

        <ul role="list" class="mt-8">
          {
            frontmatter.faq.map((item) => (
              <li>
                <h5>{item.question}</h5>
                <p v>{item.answer}</p>
              </li>
            ))
          }
        </ul>
      </Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
