---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title={frontmatter.title}
  description={frontmatter.description}
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Title}",
    description: "Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section
    aria-labelledby="post"
    id="post"
    class="mx-auto 2xl:max-w-7xl bg-violet-300 border-b-2 2xl:border-x-2 border-black"
  >
    <img
      class="h-96 w-full object-contain"
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
    />

  </section>
  <section>
    <div
      class="p-8 lg:p-20 2xl:max-w-7xl mx-auto 2xl:border-x-2 border-b-2 border-black"
    >
    <div class="max-w-3xl mx-auto">
      <div class="prose-styles">
        <h1 >{frontmatter.title}</h1>
        <p>{frontmatter.description}</p>
        <div class="inline-flex items-center justify-between w-full text-sm">
          <div class="flex gap-4">
            <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
            <p>
              Written by: {frontmatter.author}
            </p>
          </div>
          <div class="not-prose flex flex-wrap space-x-2 ">
            {
              frontmatter.tags.map((tag) => (
                <span class="inline-flex items-center  ">
                  <a
                    class="text-black items-center shadow-tiny shadow-black text-sm font-medium uppercase inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-8 tracking-wide focus:translate-y-1 w-full hover:text-lila-800"
                    href={`/tags/${tag}`}
                  >
                    {tag}
                  </a>
                </span>
              ))
            }
          </div>
        </div>
      <div class="border-t-2 border-black">  <slot /></div>
      </div>

    </div>

    </div>
  </section>
</BaseLayout>
