---
// Assets
import Cross from "@/components/assets/Cross.astro";
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogEntry2 from "@/components/blog/BlogEntry2.astro";
// Load all posts
import { getCollection } from "astro:content";
// Content
const allPosts = await getCollection("posts");
// Get the team slug from the URL
const teamSlug = Astro.url.pathname.split("/").filter(Boolean).pop();
// Filter posts by this team (based on slug)
const relatedPosts = allPosts.filter((post) => post.data.team === teamSlug);
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-32 pb-12 relative overflow-hidden">
      <!-- Top Right Plus -->
      <Cross class="-top-[0.6rem] -right-[0.65rem] z-51" />
      <!-- Top left Plus -->
      <Cross class="-top-[0.6rem] -left-[0.65rem] z-51" />

      <div class="text-balance max-w-xl mx-auto">
        <Text
          tag="h1"
          variant="displayMD"
          class="tracking-tight text-white font-display"
        >
          {frontmatter.name}
        </Text>

        <Text tag="p" variant="textBase" class="mt-4 text-base-400">
          {frontmatter.role}
        </Text>
        <div class="grid grid-cols-2 mt-12">
          <Image
            width={1000}
            height={800}
            alt={frontmatter.image.alt}
            src={frontmatter.image.url}
            class="object-cover object-center size-full relative"
          />
          <div class={`p-4 h-full ${frontmatter.bgColor}`}></div>
        </div>

        <div class="space-y-4 mt-12">
          {
            frontmatter.bio.split("\n").map((paragraph) => (
              <Text tag="p" variant="textSM" class="text-base-500">
                {paragraph}
              </Text>
            ))
          }
        </div>
        <div class="flex items-center mt-8 gap-2">
          <a
            href={frontmatter.socials.twitter}
            class="text-sm text-base-600 hover:text-base-800 duration-300"
            aria-label="X"
          >
            Twitter
          </a>

          <a
            href={frontmatter.socials.linkedin}
            class="text-sm text-base-600 hover:text-base-800 duration-300"
            aria-label="LinkedIn"
          >
            Linkedin
          </a>
          <a
            href={frontmatter.socials.email}
            class="text-sm text-base-600 hover:text-base-800 duration-300"
            aria-label="Email"
          >
            Email
          </a>
          <a
            href={frontmatter.socials.website}
            class="text-sm text-base-600 hover:text-base-800 duration-300"
            aria-label="Website"
          >
            Website
          </a>
        </div>
      </div>
    </Wrapper>
  </section>
  {
    relatedPosts.length > 0 && (
      <section>
        <Wrapper
          variant="standard"
          class="relative pt-24 pb-8 border-t lg:pt-32 border-base-800"
        >
          <Cross class="-top-[0.6rem] -right-[0.65rem]" />
          <Cross class="-top-[0.6rem] -left-[0.65rem]" />
          <Text tag="h2" variant="displayMD" class="text-white font-display">
            More posts from{" "}
            <span class="capitalize">{teamSlug.replace(/-/g, " ")}</span>
          </Text>
        </Wrapper>

        <div class="mt-8 flex flex-col">
          {relatedPosts.map((post) => (
            <BlogEntry2 post={post} />
          ))}
        </div>
      </section>
    )
  }
</BaseLayout>
