---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div
      class="relative items-center w-full divide-y-2 divide-black mx-auto 2xl:max-w-7xl border-b-2 border-black 2xl:border-x-2 lg:grid-cols-3">
      <div
        class="grid grid-cols-1 md:grid-cols-2 divide-y-2 divide-black md:divide-y-0 md:divide-x-2">
        <div class="block w-full aspect-square h-full bg-green-500">
          <img
            src={frontmatter.avatar.url}
            alt={frontmatter.avatar.alt}
            alt="Staking Rewards"
          />
        </div>
        <div
          class="relative p-8 lg:px-20 items-center gap-12 h-full lg:inline-flex bg-yellow-500">
          <div class="max-w-xl text-left">
            <div>
              <p class="text-3xl lg:text-5xl font-medium text-black">
                {frontmatter.name}
              </p>
              <p class="mt-2">{frontmatter.role}</p>
              <div class="mt-12">
                <p class="max-w-xl xl:text-xl tracking-wide text-black text-pretty">
                  {frontmatter.intro}
                </p>
                <dl
                  class="relative flex gap-y-6 flex-col mt-12 text-black tracking-wide xl:text-xl">
                  <div>
                    <dt class="text-black font-medium">Education</dt>
                    <dd>
                      <ul class="text-black mt-4 text-lg">
                        {
                          frontmatter.education.map((item) => (
                            <li> ⏤ {item}</li>
                          ))
                        }
                      </ul>
                    </dd>
                  </div>
                  <div>
                    <dt class="text-black font-medium lg:text-xl text-lg">
                      Date
                    </dt>
                    <dd>
                      <ul class="text-black mt-4 text-lg">
                        {
                          frontmatter.experience.map((item) => (
                            <li>⏤ {item}</li>
                          ))
                        }
                      </ul>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div
      class="items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-black">
      <div
        class="2xl:border-x-2 2xl:max-w-7xl border-black mx-auto p-8 lg:p-20">
        <div class="max-w-3xl mx-auto">
          <div class="prose-styles">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
