---
const supportSections = [
  {
    title: "Sales support",
    description:
      "If there is any issue related to your purchase such as not receiving the receipt, entering the incorrect email address during the purchase, or requiring a refund, feel free to email us.",
    link: "/contact",
    buttonText: "Contact sales",
    color: "yellow-500",
  },
  {
    title: "Technical support",
    description:
      "If you need assistance with tasks like integrating a component into your project, customizing a design in a specific manner, implementing interactive behavior using JavaScript, etc.",
    link: "/contact",
    buttonText: "Contact technical support",
    color: "green-500",
  },
  {
    title: "Bug reports",
    description:
      "In case you come across a bug with a component that you want us to rectify, kindly create an issue on GitHub to report it.",
    link: "/contact",
    buttonText: "Report a bug",
    color: "red-500",
  },
];
---

<section class="2xl:max-w-7xl mx-auto">
  <div
    class="relative items-center w-full mx-auto 2xl:max-w-7xl p-8 lg:p-20 lg:py-32 2xl:px-0 2xl:border-x-2 border-b-2 border-black bg-lila-500">
    <div class="max-w-xl mx-auto text-center">
      <h1 class="text-3xl lg:text-5xl font-medium text-black max-w-4xl mx-auto">
        Get in contact
      </h1>
      <p class="max-w-lg mt-4 xl:text-xl tracking-wide text-black mx-auto">
        We'll help you find the right plan and pricing for your business or
        track any issues.
      </p>
    </div>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-0.5 bg-black 2xl:border-x-2 border-black">
    <!-- Use map to render each support section -->
    {
      supportSections.map((section) => (
        <div
          class={`p-8 lg:p-20 flex flex-col bg-${section.color} justify-between`}>
          <div>
            <h2 class="text-xl lg:text-3xl text-black font-medium">
              {section.title}
            </h2>
            <p class="text-base tracking-wide text-black mt-4">
              {section.description}
            </p>
          </div>
          <div class="mt-12">
            <a
              href={section.link}
              class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white  py-3 rounded-lg h-16 tracking-wide focus:translate-y-1 w-full hover:text-lila-800">
              {section.buttonText} <span class="ml-3">&rarr;</span>
            </a>
          </div>
        </div>
      ))
    }
  </div>
  
</section>
